/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

h1 {
  color: #007b5e;
  font-weight: 800 bolder;
}

h2 {
  color: #007b5e;
  font-weight: 600 bold;
}

h3 {
  color: #007b5e;
  font-weight: 400 bold;
}

h4 {
  color: #007b5e;
  font-weight: 400 bold;
}

.btn-master {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

.btn-outline-master {
  color: #007b5e;
  background-color: #ffffff;
  border-color: #007b5e;
}

/* CUSTOMIZE THE CAROUSEL */
/* Carousel base class */
.carousel {
  margin-bottom: 3rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: .5rem;
  z-index: 10;
}

.carousel-caption h1 {
  color: #00d533;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.banner-1 {
  top: 1.1rem;
  font-size: 1rem;
}

.banner-1 h1 {
  color: #ffffff;
}

.banner-2 {
  position: absolute;
  bottom: 4rem;
  color: #073512;
}

.banner-2 h1 {
  color: #073512;
}

.banner-3 {
  top: 3rem;
  font-size: 1.2rem;
}

.banner-3 h1 {
  color: #00d533;
}


/* MARKETING CONTENT */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 3rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  text-align: left;
  height: 175px;
}

.btn-market {
  text-align: center;
}


/* SHOWCASE */
.showc{
  top: .50rem;
}
.showcase-header {
}

.showcase-header h1 {
  text-align: center;
  font-weight: 800 bolder;
  bottom: 1.5rem;
}

/* TEAM */
#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.job-title {
  color: #007b5e !important;
  font-size: 14px;
}


/* TESTIMONIAL AREA */
.testimon {
  font-family: "Open Sans", sans-serif;
  max-height: 500px;
}

.testimon h2 {
  color: #007b5e;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  position: relative;
  margin: 30px 0 60px;
}

.testimon h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #007b5e;
  left: 0;
  right: 0;
  bottom: -20px;
}

.testimon .carousel {
  margin: 0 auto;
  padding: 0 70px;
}

.testimon .carousel .item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}

.testimon .carousel .media {
  position: relative;
  padding: 0 0 0 20px;
}

.testimon .carousel .media img {
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 50%;
}

.testimon .carousel .testimonial-wrapper {
  padding: 0 10px;
}

.testimon .carousel .testimonial {
  color: #808080;
  position: relative;
  padding: 15px;
  background: #f1f1f1;
  border: 1px solid #efefef;
  border-radius: 3px;
  margin-bottom: 15px;
}

.testimon .carousel .testimonial::after {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  background: #f1f1f1;
  border: 1px solid #efefef;
  border-width: 0 0 1px 1px;
  position: absolute;
  bottom: -8px;
  left: 46px;
  transform: rotateZ(-46deg);
}

.testimon .carousel .star-rating li {
  padding: 0 2px;
  color: #ffdc12;
}

.testimon .carousel .star-rating i {
  font-size: 16px;
  color: #ffdc12;
}

.testimon .carousel .overview {
  padding: 3px 0 0 15px;
}

.testimon .carousel .overview .details {
  padding: 5px 0 8px;
  color: #007b5e
}

.testimon .carousel .overview b {
  text-transform: uppercase;
  color: #007b5e;
}

.testimon .carousel .carousel-indicators {
  /*bottom: -75px;*/
  top: 15rem;
}

.testimon .carousel-indicators li, .carousel-indicators li.active {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 1px 2px;
}

.testimon .carousel-indicators li {
  background: #e2e2e2;
  border: 4px solid #fff;
}

.testimon .carousel-indicators li.active {
  color: #fff;
  background: #007b5e;
  border: 5px double;
}



/* Back To Top Button */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}


/* FOOTER */
.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  {
}

width:20px; height:20px; text-align:center;
}

/* LEGAL INFO */
.legal-info {
font-size: 12px;
}

mdot {
font-size: 1em;
line-height: .4em;
color: yellow;
text-shadow: -1px -1px 0 blue,
  1px -1px 0 blue,
  -1px 1px 0 blue,
  1px 1px 0 blue;
}


/* NEWSLETTER */
.subscribe-area {
background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.pb-50 {
padding-bottom: 50px;
}

.pt-70 {
padding-top: 70px;
}

.mb-15 {
margin-bottom: 15px;
}

.subscribe-text span {
font-size: 12px;
font-weight: 700;
color: #fff;
letter-spacing: 5px;
}

.subscribe-text h2 {
color: #fff;
font-size: 36px;
font-weight: 300;
margin-bottom: 0;
margin-top: 6px;
}

.subscribe-wrapper {
overflow: hidden;
}

.mb-15 {
margin-bottom: 15px;
}

.subscribe-form {
}

.subscribe2-wrapper .subscribe-form input {
background: none;
border: 1px solid #fff;
border-radius: 30px;
color: #fff;
display: inline-block;
font-size: 15px;
font-weight: 300;
height: 57px;
margin-right: 17px;
padding-left: 35px;
width: 70%;
cursor: pointer;
}

.subscribe2-wrapper .subscribe-form button {
background: #ffff;
border: none;
border-radius: 30px;
color: #4b5d73;
display: inline-block;
font-size: 18px;
font-weight: 400;
line-height: 1;
padding: 18px 46px;
transition: all 0.3s ease 0s;
}

.subscribe2-wrapper .subscribe-form button i {
font-size: 18px;
padding-left: 5px;
}


/* RESPONSIVE CSS */
@media (min-width: 40em) {

  /* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
